// Body
$main-color: #f4f7fa;
$font-body-color: #8e9aa9;
$font-body: 'Roboto';

//Header
$header-color-admin: #fff;

$menu-color: rgb(37, 35, 43);
$menu-color-shadow: inset 2px 2px 5px rgba(37, 35, 43, 0.2), 1px 1px 5px rgba(25, 23, 29, 1);;
$menu-color-link: #fff;

$hover: #3ece51;
$border-add-coupon: rgb(72, 149, 236);