@import "./header.scss";
@import "./section_top.scss";
@import "./section_main.scss";
@import "./footer.scss";
@import "../_mixins/vars.scss";
@import "../_mixins/font";
@import "./modal.scss";


body {
    @include font(14px, 400, normal, $text-color, 26.99px);
    font-family: $main-font;
    background-color: $body-color;
    max-width: 100%;
    
    // margin-left: 150px;
    // margin-right: 150px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link {
    text-decoration: none;
    color: #717171;

    &:hover {
        color: #00b600;
    }
}

.fa-icon {
    font-size: 4ex;
    text-decoration: none;
    color: $fa-icon-color;
}

.logo_image {
    background-image: url('../../assets/logo.png');
    height: 75px;
    width: 75px;
    background-size: cover;                
}

.notShow {
    display: none;
}