* {
    box-sizing: border-box;
}

.header {
    .header-top {
        border-bottom: 2px solid #eeeeeea6;
    }
    .header-main {
        padding-bottom: 15px;
        // border-bottom: 1px solid #eeeeeea6;
    }
}

.main {
    border-top: 1px solid #eeeeeea6;

    .offer_btn {
        position: fixed;
        background-color: #f44336;
        color: #fff;
        bottom: 20px;
        left: 50%;
        border: none;
        font-size: 2vmax;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
    }

    .main_top {
        background-image: url('../../assets/PartnerShip2.jpg');
        background-position: center;
        width: 100%;
        height: 500px;
        background-size: cover;
        box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    }

    .main_centr {
        background-color: #fff;
        padding: 0 150px 0 150px;
        .main_centr-block_layout {
            color: black;
            padding-top: 10px;
            padding-bottom: 20px;
            
            .small {
                color: #8e8e93;
            }

            h2 {
                margin-bottom: 20px;
            }
            .main_centr-blok_text {

                .partnersBenefits {
                    list-style-type: none;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    .partnersBenefits-item {
                        margin-right: 10px;
                        
                        &:last-child{
                            margin-right: 0;
                        }
                        .partnersBenefits-item_img {
                            width: 96px;
                            height: 96px;
                            background-size: cover;
                            background-color: #eeeeeea6;
                            border-radius: 50%;
                            margin-bottom: 10px;
                        }

                    }
                }
            }
        }
    }

    .main_bot {
        padding: 0 150px 0 150px;
        margin-bottom: 20px;
        .main-rules {
            h3 {
                font-size: 0.9vmax;
                color: #8e8e93;
                margin-bottom: 10px;
            }
            h2 {
                font-size: 2vmax;
                margin-bottom: 20px;
                color: black;
            }

            span {
                font-size: 0.9vmax;
            }
            .rules_enter {
                font-size: 1vmax;
                font-weight: 800;
                color: black;
            }
            .main_rules-list {
                border-bottom: 1px solid #cfcccca6;
                counter-reset: li; 
                list-style: none;
                padding: 0;
                font-size: 1vmax;
                text-shadow: 0 1px 0 rgba(255,255,255,.5);
                margin-bottom: 20px;

                span {
                    position: relative;
                    display: block;
                    padding: .4em .4em .4em 2em;
                    margin: .5em 0;
                    background: #DAD2CA;
                    color: black;
                    text-decoration: none;
                    border-radius: .3em;
                    transition: .3s ease-out;

                    &:hover {
                        background: #E9E4E0;
                    }

                    &:hover::before {
                        transform: rotate(360deg);
                    }

                    &::before {
                        content: counter(li);
                        counter-increment: li;
                        position: absolute;
                        left: -1.3em;
                        margin-top: -1.3em;
                        top: 50%;
                        height: 2em;
                        background: #8FD4C1;
                        line-height: 2em;
                        width: 2em;
                        text-align: center;
                        border: .3em solid white;
                        border-radius: 2em;
                        font-weight: bold;
                        transition: all .3s ease-out;
                    }
                }
            }
        }
    }

    .handHeart {
        background-image: url('../../assets/icon-handHeart.png');
    }

    .clients {
        background-image: url('../../assets/count-man.png');
    }

    .client_pay {
        background-image: url('../../assets/icons-pay.png');
    }

    .ads {
        background-image: url('../../assets/icon-ads.png');
    }
}

@media (min-width: 1200px) and (max-width: 1400px){

}

@media (min-width: 992px) and (max-width: 1199px) {
    .main {
        .main_bot {
            .main-rules {
                h3 {
                    font-size: 2vmax;
                    color: #8e8e93;
                    margin-bottom: 10px;
                }
                h2 {
                    font-size: 2vmax;
                    margin-bottom: 20px;
                    color: black;
                }
    
                span {
                    font-size: 1.5vmax;
                }
                .rules_enter {
                    font-size: 2vmax;
                    font-weight: 800;
                    color: black;
                }
                .main_rules-list {
                    font-size: 2vmax;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .main {
        .main_bot {
            .main-rules {
                h3 {
                    font-size: 3vmax;
                }
                h2 {
                    font-size: 3vmax;
                }
    
                span {
                    font-size: 2vmax;
                }
                .rules_enter {
                    font-size: 2vmax;
                }
                .main_rules-list {
                    font-size: 3vmax;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .main {
        .main_centr {
            padding: 0 50px 0 50px;

            .main_centr-block_layout {
                color: black;
                padding-top: 10px;
                padding-bottom: 20px;
                
                .small {
                    color: #8e8e93;
                }
    
                h2 {
                    margin-bottom: 20px;
                }
                .main_centr-blok_text {
    
                    .partnersBenefits {
                        list-style-type: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                    }
                }
            }
        }

        .main_bot {
            padding: 0 20px 0 20px;
            .main-rules {
                h3 {
                    font-size: 5vmax;
                }
                h2 {
                    font-size: 4vmax;
                }
    
                span {
                    font-size: 3vmax;
                }
                .rules_enter {
                    font-size: 3vmax;
                }
                .main_rules-list {
                    font-size: 5vmax;
                }
            }
        }
    }
}