.header {
    .header-top {
        border-bottom: 2px solid #eeeeeea6;
    }
    .header-main {
        padding-bottom: 15px;
        // border-bottom: 1px solid #eeeeeea6;
    }
}

.main {
    border-top: 1px solid #eeeeeea6;
}