//Body
$main-font: 'Open-Sans';
$body-color: #535753;
$text-color: #717171;


//Header
$header-color: #ffffff;
$text-color: #717171;
$search-button: #ededed;
$bg-color-search: #c0c0c0;

$font-logo: 'BebasNeue-Regular';
$color-logo-text: rgba(0,0,0,.9);

$fa-icon-color: #bbbbbb;

$nav-color: #eeeeeea6;