<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SkidWood</title>
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Open+Sans|Vast+Shadow&display=swap" rel="stylesheet">
    <link rel="icon" href="favicon.ico" type="image/ico">
</head>
<body>
    <header class="header">
        <div class="header-top">
            <a href="about_service" class="header_top-nav_link link service">О сервисе</a>
            <a href="#" class="header_top-nav_link link partner">Стать партнером</a>
            <a href="#" class="header_top-nav_link link contacts">Контакты</a>
        </div>

        <div class="header-main">
            <div class="header-left">
                <a href="" class="logo_image"></a>
                <div class="logo_text_name"><a href="">SkidWood.ru</a><span class="logo_text_desc">Выгодные акции, бесплатные купоны и не только</span>
            </div>
                        
        </div>
    </header>

    <main class="main">
        <h1>О сервисе Skidwood</h1>
        <p>Проект SkidWood рад видеть вас. У нас здесь собраны самые актуальные Скидки и Акции не только Российских магазинов, сервисов и т.д., но и ближайших стран СНГ, а также множество зарубежных. Здесь мы собираем всю информацию о продажах из максимального количества торговых сетей, комплексов и отдельных магазинов. Реальная информация о скидках и акциях во всех супермаркетах поможет вам купить товары всех существующих брендов по низким ценам. Экономя значительные средства на повседневных покупках, у вас есть уникальная возможность улучшить свое финансовое положение, сэкономив денежные средства. Откройте для себя онлайн-скидки в супермаркетах и станьте первым среди торговых гуру!</p>
        <h1>Что необходимо чтобы начать экономить?</h1>
        <p>Для того чтобы экономить вместе с нашим сервисом ничего не требуется (ни регистрации, ни подписки), только ваше желание экономить. Переходите на клавную страницу и начинайте экономить на покупках уже сейчас.Собранная на сайте информация будет полезна не только экономным домохозяйкам, но и другим покупателям, занимающимся поиском нужного товара. Регулярно просматривайте акции на нашем сайте и покупайте товары по лучшей цене!</p>
        <h1>Немного о том как мы работаем</h1>
        <p>SkidWood в отличие от многих похожих сервисов не является представителем какой-либо торговой сети, супермакета или сервиса. <br>
        Skidwood — информационный ресурс, являющийся гидом по акциям и маркетинговым кампаниям крупных торговыхсетей. Вся размещенная информация носит исключительно справочно-информационный характер и неявляется рекламой, публичной офертой или призывом к действию. Конечно некоторые купоны можно найти только на нашем сайте, если выбрать подборку "Только на Skidwood", но мы не призываем пользователей ни к каким-либо действиям, пользователь должен сам решать интересно ему это предложение или нет. <br>
        Также важно знать, что торговые сети довольно часто не гарантируют наличие акционных позиций во всех своих торговых точках.</p>
    </main>

    <footer class="footer">
        <div class="footer_advantages">
            <div class="footer_economy">
                <div class="footer_icon icon_economy"></div>
                <span class="footer_advanteges-text"><strong>43%</strong><br> Такое количество денег в среднем экономят пользователи SkidWood на покупках</span>
            </div>
            <div class="footer_sale-offers">
                <div class="footer_icon icon_sale-offers"></div>
                <span class="footer_advanteges-text">Всегда актуальные скидки и предложения</span>
            </div>
            <div class="footer_private-information">
                <div class="footer_icon icon_private-information"></div>
                <span class="footer_advanteges-text">Экслюзивные предложение которые вы нигде больше не найдете</span>
            </div>
            <div class="footer_free-coupons">
                <div class="footer_icon icon_free-coupons"></div>
                <span class="footer_advanteges-text">Бесплатные купоны и промокоды</span>
            </div>
        </div>

        <div class="footer_socials">
            <div class="footer_social_block">
                <div class="footer_logo_block">
                    <a href="" class="footer_logo logo_image"></a>
                    <div class="footer_logo_text_name"><a href="">SkidWood.ru</a>
                        <span class="logo_text_desc">Выгодные акции, бесплатные купоны и не только</span>
                    </div>
                </div>
                <div class="footer_socials_icons">
                    
                    <a href="" class="icon_yandex_dzen"></a>
                    <a href="" class="icon_instagram"></a>
                    <a href="" class="icon_twitter"></a>
                    <a href="" class="icon_wk"></a>
                </div>
            </div>

            <div class="footer_company">
                <div class="footer_aboutus">
                  <a href="">О сервисе</a> 
                </div>
                <div class="footer_partners">
                    <a href="">Стать партнером</a>
                </div>
            </div>

            <div class="footer_helps">
                <h1>Помощь</h1>
                <details class="footer_hepls_coupon">
                    <summary>Как использовать купон или промокод?</summary>
                    Чтобы использовать купон или промокод, вам необходимо навести и нажать на купон и в всплывающем окошке скопировать номер купона. Затем перейти в магазин и использовать данный купон.
                </details>
                <details class="footer_helps_action">
                    <summary>Разница между купоном и акцией?</summary>
                    Разница между акцией и купонами с промокодами заключается в том, что для того чтобы воспользоваться акцией вам необходимо просто нажать на нее и перейти в магазин в новом окне, а для того чтобы воспользоваться купоном или промокодом необходимо скопировать номер купона или промокода и ввести его на сайте где он участвует
                </details>
            </div>
        </div>
    </footer>
</body>